<a href="https://colab.research.google.com/github/Shambhavi-Gupta/DS_Working-with-Planetary-Dataset/blob/master/Working_with_Planetary_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
df = sns.load_dataset('planets')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [ ]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [ ]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

Go through each of the row of the dataframe and delete it (drop) if any of the column is null

In [ ]:
for r in df.index:
    for c in df.columns:
        if pd.isnull(df.loc[r ,c]):
            df.drop(r ,inplace=True )
            break

In [ ]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
for i, r in df.iterrows():
    print(i)
    print(r)
    break

0
method            Radial Velocity
number                          1
orbital_period              269.3
mass                          7.1
distance                     77.4
year                         2006
Name: 0, dtype: object

In [ ]:
for i, r in df.iterrows():
    print(pd.isnull(r).any())
    break

False

In [ ]:
for i, r in df.iterrows():
    if pd.isnull(r).any():
        df.drop(i, inplace=True)

In [ ]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
df.dropna(inplace =True)

In [ ]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

Filter and show only those rows which have planets that are found in 2010s and method is 'Radial velocity' and 'Transit' and distance is large
(> 75 percentile)

In [ ]:
df_ =df.copy()
per_75 = df.distance.quantile(0.75)
for i, r in df_.iterrows():
    if r['year'] < 2010:
        df.drop(i ,inplace=True)
        continue
    if r['method'] != 'Radial Velocity' and r['method'] != 'Transit':
        df.drop(i ,inplace=true)
        continue   
    if r['distance'] < per_75:
        df.drop(i ,inplace=True)
        continue

In [ ]:
df_.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
df_.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
per_75

59.3325

In [ ]:
df_ = df.copy()
df_ = df_[
          (df_['year'] >= 2010) &
          ((df_['method'] == 'Radial Velocity') | (df_['method'] == 'Transit')) &
          (df_['distance'] >= per_75)
]

In [ ]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

Modify the method column to have only the abbreviation of each method

In [ ]:
df.method.unique()

array(['Radial Velocity', 'Transit'], dtype=object)

In [ ]:
s = 'Radial Velocity'

In [ ]:
''.join([x[0] for x in s.split(' ')])

'RV'

In [ ]:
short_names = {}
for s in df.method.unique():
    short_names[s] =  ''.join([x[0] for x in s.split(' ')])

In [ ]:
print(short_names)

{'Radial Velocity': 'RV', 'Transit': 'T'}

In [ ]:
for i ,r in df.iterrows():
    df.loc[i ,'short_method'] = short_names.get(r['method'] , r['method'])

In [ ]:
df.head()

             method  number  orbital_period   mass  distance  year short_method
9   Radial Velocity       2          452.80   1.99     74.79  2010           RV
10  Radial Velocity       2          883.00   0.86     74.79  2010           RV
58  Radial Velocity       1          277.02   1.70     80.64  2013           RV
63  Radial Velocity       1          305.50  20.60     92.51  2013           RV
84  Radial Velocity       1          137.48   1.11    175.44  2013           RV

In [ ]:
df.tail()

              method  number  orbital_period  ...  distance  year  short_method
620  Radial Velocity       1       745.70000  ...    307.69  2011            RV
627  Radial Velocity       1        16.20000  ...    223.21  2010            RV
636  Radial Velocity       1       124.60000  ...    149.25  2013            RV
649          Transit       1         2.70339  ...    178.00  2013             T
784  Radial Velocity       3       580.00000  ...    135.00  2012            RV

[5 rows x 7 columns]

In [ ]:
df = sns.load_dataset('planets')

In [ ]:
def shorten_method(s):
    return short_names.get(s ,s)

In [ ]:
df['short_method'] = df['method'].apply(shorten_method)

In [ ]:
df.head()

            method  number  orbital_period   mass  distance  year short_method
0  Radial Velocity       1         269.300   7.10     77.40  2006           RV
1  Radial Velocity       1         874.774   2.21     56.95  2008           RV
2  Radial Velocity       1         763.000   2.60     19.84  2011           RV
3  Radial Velocity       1         326.030  19.40    110.62  2007           RV
4  Radial Velocity       1         516.220  10.50    119.47  2009           RV

Count the number of planets discovered for each method type

1. **Split** the dataframe into smaller chunks(in this case thhry should have the same method )
2. **Apply** some function in each smaller chunk(in this case it is count function)
3. **Aggregate** the result from each chunk together

In [ ]:
d = {}
for m in df.method.unique():
    d[m] =(df[df.method == m]['method'].count())
print(d)

{'Radial Velocity': 553, 'Imaging': 38, 'Eclipse Timing Variations': 9, 'Transit': 397, 'Astrometry': 2, 'Transit Timing Variations': 4, 'Orbital Brightness Modulation': 3, 'Microlensing': 23, 'Pulsar Timing': 5, 'Pulsation Timing Variations': 1}

In [ ]:
df.groupby('method')['method'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

Find out what fraction of planets have been found in last decade(i.e. 2010s) across each method type

1. **Filter** the data for the given condition( in this case planet found in last decade)
2. **Split** (in this case across method)
3. **Apply** (in this case just count)
4. **Aggregate** (to represent the final result)

In [ ]:
s_2010s = df[df.year >= 2010].groupby('method')['method'].count()

In [ ]:
s_allTime = df.groupby('method')['method'].count()

In [ ]:
s_2010s/s_allTime

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64